* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
}
@media (min-width: 500px) {
  .layout {
    flex-flow: row wrap;
  }
}

.card-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.content-container {
  border: 2px solid #5454dd;
  margin: 10px;
  padding: 1em;
  border-radius: 5px;
  background-color: #e7e7ff;
}

.one, .two, .three {
  width: 300px;
  position: absolute;
}

.checkbox {
  height: 20px;
}
@media (min-width: 500px) {
  .checkbox {
    height: 180px;
  }
}

.checkbox:checked ~ div > .one {
  animation-duration: 0.3s;
  animation-name: slideInOneY;
  animation-fill-mode: forwards;
}

.checkbox:not(:checked) ~ div > .one {
  animation-duration: 0.3s;
  animation-name: slideoutOneY;
  animation-fill-mode: forwards;
}

@media (min-width: 500px) {
  .checkbox:checked ~ div > .one {
    animation-duration: 0.3s;
    animation-name: slideInOneX;
    animation-fill-mode: forwards;
  }

  .checkbox:not(:checked) ~ div > .one {
    animation-duration: 0.3s;
    animation-name: slideoutOneX;
    animation-fill-mode: forwards;
  }
}
@keyframes slideInOneX {
  0% {
    position: absolute;
    transform: translateX(0%);
  }
  99% {
    position: absolute;
    transform: translateX(calc(0% + 0px));
  }
  100% {
    position: relative;
  }
}
@keyframes slideoutOneX {
  0% {
    position: absolute;
    transform: translateX(0%);
  }
  100% {
    position: absolute;
    transform: translateX(0%);
  }
}
@keyframes slideInOneY {
  0% {
    position: absolute;
    transform: translateY(0%);
  }
  99% {
    position: absolute;
    transform: translateY(calc(0% + 0px));
  }
  100% {
    position: relative;
  }
}
@keyframes slideoutOneY {
  0% {
    position: absolute;
    transform: translateY(0%);
  }
  100% {
    position: absolute;
    transform: translateY(0%);
  }
}
.checkbox:checked ~ div > .two {
  animation-duration: 0.3s;
  animation-name: slideInTwoY;
  animation-fill-mode: forwards;
}

.checkbox:not(:checked) ~ div > .two {
  animation-duration: 0.3s;
  animation-name: slideoutTwoY;
  animation-fill-mode: forwards;
}

@media (min-width: 500px) {
  .checkbox:checked ~ div > .two {
    animation-duration: 0.3s;
    animation-name: slideInTwoX;
    animation-fill-mode: forwards;
  }

  .checkbox:not(:checked) ~ div > .two {
    animation-duration: 0.3s;
    animation-name: slideoutTwoX;
    animation-fill-mode: forwards;
  }
}
@keyframes slideInTwoX {
  0% {
    position: absolute;
    transform: translateX(0%);
  }
  99% {
    position: absolute;
    transform: translateX(calc(100% + 20px));
  }
  100% {
    position: relative;
  }
}
@keyframes slideoutTwoX {
  0% {
    position: absolute;
    transform: translateX(100%);
  }
  100% {
    position: absolute;
    transform: translateX(0%);
  }
}
@keyframes slideInTwoY {
  0% {
    position: absolute;
    transform: translateY(0%);
  }
  99% {
    position: absolute;
    transform: translateY(calc(100% + 20px));
  }
  100% {
    position: relative;
  }
}
@keyframes slideoutTwoY {
  0% {
    position: absolute;
    transform: translateY(100%);
  }
  100% {
    position: absolute;
    transform: translateY(0%);
  }
}
.checkbox:checked ~ div > .three {
  animation-duration: 0.3s;
  animation-name: slideInThreeY;
  animation-fill-mode: forwards;
}

.checkbox:not(:checked) ~ div > .three {
  animation-duration: 0.3s;
  animation-name: slideoutThreeY;
  animation-fill-mode: forwards;
}

@media (min-width: 500px) {
  .checkbox:checked ~ div > .three {
    animation-duration: 0.3s;
    animation-name: slideInThreeX;
    animation-fill-mode: forwards;
  }

  .checkbox:not(:checked) ~ div > .three {
    animation-duration: 0.3s;
    animation-name: slideoutThreeX;
    animation-fill-mode: forwards;
  }
}
@keyframes slideInThreeX {
  0% {
    position: absolute;
    transform: translateX(0%);
  }
  99% {
    position: absolute;
    transform: translateX(calc(200% + 40px));
  }
  100% {
    position: relative;
  }
}
@keyframes slideoutThreeX {
  0% {
    position: absolute;
    transform: translateX(200%);
  }
  100% {
    position: absolute;
    transform: translateX(0%);
  }
}
@keyframes slideInThreeY {
  0% {
    position: absolute;
    transform: translateY(0%);
  }
  99% {
    position: absolute;
    transform: translateY(calc(200% + 40px));
  }
  100% {
    position: relative;
  }
}
@keyframes slideoutThreeY {
  0% {
    position: absolute;
    transform: translateY(200%);
  }
  100% {
    position: absolute;
    transform: translateY(0%);
  }
}

/*# sourceMappingURL=transiciones.css.map */
