$primary_color: #2378da;
$secondary_color: #da3f23;
$terceary_color: #f1f1f1;
$active_color: #ebebeb;
$box_shadows: #bbbaba;
$highlight_color: #3e85d6;

$font_color: #272727;
$background_color: #ffffff;

$xs: 360px;
$sm: 600px;
$md: 786px;
$lg: 992px;
$xl: 1280px;
