.addComponent-container {
  display: grid;
  grid-template-areas: 
  "items"
  "button";
  grid-template-rows: calc( 100% - 3rem) 3rem;
  grid-template-columns: 100%;
}

.items-list-container {
  grid-area: items;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-flow: row wrap;
}

.item-added {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 1rem 2rem;
  color: #faeb1a;
  flex-basis: 150px;
  max-height: 100px;
  background: #3d3d3d;
  border: 2px solid rgb(80, 80, 80);
  border-radius: 4px;
  margin: 20px;
  transition: 0.3s all ease;
  
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    background: lighten($color: #3d3d3d, $amount: 8%);
  }
}

.addButton {
  grid-area: button;
  border-radius: 50%;
  display: flex;
  width: fit-content;
  background: #3d3d3d;
  color: #faeb1a;
  border: 2px solid #faeb1a;
  font-size: 2rem;
  padding: 12px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &:hover {
    cursor: pointer;
    background: lighten($color: #3d3d3d, $amount: 8%);
  }

  &:focus {
    background: lighten($color: #3d3d3d, $amount: 14%);
    outline: none;
  }
}