@import 'variables';
@import 'mixins';


body {
    margin: 0;
    box-sizing: border-box;
}

.toolbar {
    width: 100%;
    z-index: 1;
    height: 60px;
    padding-left: 10px;
    background-color: $primary_color;
    position: sticky;
    transition: 0.2s;
    transition-property: all;
    @include container_flex(inline-flex, row, center, flex-start);

    a,
    span {
        margin: 0 5px;
        @include linksAndSpans(
            $background_color, 
            $primary_color,
            $highlight_color,
            $text_width: fit-content
            )
    }

    .title {
        font-size: 20px;
    }
}

.sidenav {
    position: fixed;
    top: 60px;
    left: 0;
    box-sizing: border-box;
    border-color: $terceary_color;
    border-right-color: #cacaca;
    border-style: solid;
    border-width: 2px;
    height: calc(100% - 60px);
    color: $font_color;
    justify-content: center;
    display: none;
    transition: 0.2s;
    transition-property: all;

    @include container_width($sm) {
        @include container_flex($justify: flex-start);
        width: 18%;
    }

    @include container_width($md) {
        @include container_flex($justify: flex-start);
        width: 14%;
    }

    a {
        cursor: pointer;
        margin: 5px 0;
        height: 5vh;
        user-select: none;
        @include container_flex();
        @include linksAndSpans();
    }
    
}


.content {
    width: 100%;
    position: fixed;
    height: calc(100% - 60px);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    transition: 0.2s;
    transition-property: all;
    overflow: auto;

    @include container_width($sm) {
        left: 18%;
        width: 82%;
    }

    @include container_width($md) {
        left: 14%;
        width: 86%;
    }
}