@import 'variables';
@import 'mixins';


body {
    margin: 0;
    box-sizing: border-box;
}

.toolbar {
    width: 100%;
    z-index: 1;
    height: 60px;
    padding-left: 10px;
    background-color: $primary_color;
    color: $terceary_color;
    align-items: center;
    position: sticky;
    box-sizing: border-box;
    display: inline-flex;
    transition: 0.2s;
    transition-property: all;
}

.sidenav {
    position: fixed;
    top: 60px;
    left: 0;
    box-sizing: border-box;
    border-color: $terceary_color;
    border-right-color: #cacaca;
    border-style: solid;
    border-width: 2px;
    height: calc(100% - 60px);
    color: $font_color;
    justify-content: center;
    display: none;
    transition: 0.2s;
    transition-property: all;

    @include container_width($sm) {
        display: flex;
        width: 18%;
    }

    @include container_width($md) {
        display: flex;
        width: 14%;
    }
    
}


.content {
    width: 100%;
    position: fixed;
    height: calc(100% - 60px);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    transition: 0.2s;
    transition-property: all;
    overflow: auto;

    @include container_width($sm) {
        left: 18%;
        width: 82%;
    }

    @include container_width($md) {
        left: 14%;
        width: 86%;
    }
}