* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;

  @media (min-width: 500px) {
    flex-flow: row wrap;
  }
}

.card-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.content-container {
  border: 2px solid rgb(84, 84, 221);
  margin: 10px;
  padding: 1em;
  border-radius: 5px;
  background-color: rgb(231, 231, 255);
}

.one, .two, .three {
  width: 300px;
  position: absolute;
}

.checkbox {
  height: 20px;
  @media (min-width: 500px) {
    height: 180px;
  }
}

$clases: (
  one: (slideInOneX, slideoutOneX, 0%, 0px, slideInOneY, slideoutOneY),
  two: (slideInTwoX, slideoutTwoX, 100%, 20px, slideInTwoY, slideoutTwoY),
  three: (slideInThreeX, slideoutThreeX, 200%, 40px, slideInThreeY, slideoutThreeY)
);

@each $clase, $animacion in $clases {

  .checkbox:checked~div>.#{$clase} {
    animation-duration: 0.3s;
    animation-name: nth($animacion, 5);
    animation-fill-mode: forwards;
  }

  .checkbox:not(:checked)~div>.#{$clase} {
    animation-duration: 0.3s;
    animation-name: nth($animacion, 6);
    animation-fill-mode: forwards;
  }

  @media (min-width: 500px) {
    .checkbox:checked~div>.#{$clase} {
      animation-duration: 0.3s;
      animation-name: nth($animacion, 1);
      animation-fill-mode: forwards;
    }
    .checkbox:not(:checked)~div>.#{$clase} {
      animation-duration: 0.3s;
      animation-name: nth($animacion, 2);
      animation-fill-mode: forwards;
    }
  }

  @keyframes #{nth($animacion, 1)} {
    0% {position: absolute; transform: translateX(0%);}
    99% {position: absolute; transform: translateX(
      calc(#{nth($animacion, 3)} + #{nth($animacion, 4)})
      );
    }
    100% {position: relative;}
  }

  @keyframes #{nth($animacion, 2)} {
    0% {position: absolute; transform: translateX(nth($animacion, 3));}
    100% {position: absolute; transform: translateX(0%);}
  }

  @keyframes #{nth($animacion, 5)} {
    0% {position: absolute; transform: translateY(0%);}
    99% {position: absolute; transform: translateY(
      calc(#{nth($animacion, 3)} + #{nth($animacion, 4)})
      );
    }
    100% {position: relative;}
  }

  @keyframes #{nth($animacion, 6)} {
    0% {position: absolute; transform: translateY(nth($animacion, 3));}
    100% {position: absolute; transform: translateY(0%);}
  }
  
}
