* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.content-container {
  border: 2px solid rgb(84, 84, 221);
  margin: 10px;
  padding: 1em;
  border-radius: 5px;
  background-color: rgb(231, 231, 255);
}

.one, .two, .three {
  width: 300px;
  position: absolute;
}

.checkbox {
  height: 180px;
}

.checkbox:checked ~ div > .one {
  animation-duration: 0.2s;
  animation-name: slideinOne;
  animation-fill-mode: forwards;
}

.checkbox:checked~div>.two {
  animation-duration: 0.2s;
  animation-name: slideinTwo;
  animation-fill-mode: forwards;
}

.checkbox:checked~div>.three {
  animation-duration: 0.3s;
  animation-name: slideinThree;
  animation-fill-mode: forwards;
}

.checkbox:not(:checked)~div>.two {
  animation-duration: 0.3s;
  animation-name: slideoutTwo;
  animation-fill-mode: forwards;
}

.checkbox:not(:checked)~div>.three {
  animation-duration: 0.3s;
  animation-name: slideoutThree;
  animation-fill-mode: forwards;
}

@keyframes slideinOne {
  0% {
    position: absolute;
    transform: translateX(0%);
  }

  99% {
    position: absolute;
    transform: translateX(0%);
  }

  100% {
    position: relative;
    transform: translateX(0%);
  }
}

@keyframes slideinTwo {
  0% {
    position: absolute;
    transform: translateX(0%);
  }

  99% {
    position: absolute;
    transform: translateX(calc(100% + 20px));
  }

  100% {
    position: relative;
  }
}

@keyframes slideinThree {
  0% {
    position: absolute;
    transform: translateX(0%);
  }

  99% {
    position: absolute;
    transform: translateX(calc(200% + 40px));
  }

  100% {
    position: relative;
  }
}

@keyframes slideoutOne {
  0% {
    position: relative;
    transform: translateX(0%);
  }

  100% {
    position: relative;
    transform: translateX(0%);
  }
}

@keyframes slideoutTwo {
  0% {
    position: absolute;
    transform: translateX(100%);
  }

  100% {
    position: absolute;
    transform: translateX(0%);
  }
}

@keyframes slideoutThree {
  0% {
    position: absolute;
    transform: translateX(200%);
  }

  100% {
    position: absolute;
    transform: translateX(0%);
  }
}