body {
    background: #f7f7f7;
    overflow-x: hidden;
}

.title h1 {
    position: absolute;
    font-size: 3rem;
    left: 25%;
}
.imagen-absolute {
    position: absolute;
    width: clamp(350px, 100%, 1280px);
    transform: rotate(17deg);
    margin: 0 30px;
    box-sizing: border-box;
    z-index: -1;
}

@media (min-width: 420px) {
    .imagen-absolute {
        position: absolute;
        width: clamp(350px, 100%, 1280px);
        transform: rotate(8.7deg);
        margin: 0 30px;
        box-sizing: border-box;
        z-index: -1;
    }
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}
